
#history {
    border: 2px solid steelblue;
    background-color: gray;

    clear: both;
    overflow-wrap: normal;
    overflow: visible; /*hidden*/
}

#history div {
    float: left;
    width: 20px;
    height: 20px;
    border: 2px solid steelblue;
    background-color: gray;
    margin: 5px;
}

#history div.loaded {
    background-color: blueviolet;
    cursor: pointer;
}

/*
 from: https://perishablepress.com/new-clearfix-hack/
 */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */
